[Unit]
Description=Osmocom GSM BTS

[Service]
Type=simple
ExecStart=/usr/local/bin/osmo-bts-trx -s -c /etc/osmoBTS/osmo-bts-trx.cfg
Restart=always
RestartSec=2

# Let it process messages quickly enough
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1

[Install]
WantedBy=multi-user.target
