[Unit]
Description=Osmocom STP (Signal Transfer Point)
Documentation=https://osmocom.org/projects/osmo-stp/wiki

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/osmo-stp -c /etc/osmoBTS/osmo-stp.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target
